USE [master]
GO
/****** Object:  Database [TokoKamera]    Script Date: 6/10/2021 10:01:55 AM ******/
CREATE DATABASE [TokoKamera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TokoKamera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TokoKamera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TokoKamera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TokoKamera_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TokoKamera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TokoKamera]
GO
/****** Object:  User [eval]    Script Date: 6/10/2021 10:01:55 AM ******/
CREATE USER [eval] FOR LOGIN [eval] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AccKamera]    Script Date: 6/10/2021 10:01:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccKamera](
	[id_Acc] [nvarchar](10) NOT NULL,
	[nama_acc] [nvarchar](100) NULL,
	[id_kategori] [nvarchar](10) NOT NULL,
	[harga] [int] NULL,
	[jumlah] [int] NULL,
 CONSTRAINT [PK_AccKamera] PRIMARY KEY CLUSTERED 
(
	[id_Acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKategoriAcc]    Script Date: 6/10/2021 10:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKategoriAcc](
	[id_kategori] [nvarchar](10) NOT NULL,
	[nama_kategori] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbKategoriAcc] PRIMARY KEY CLUSTERED 
(
	[id_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCCTV]    Script Date: 6/10/2021 10:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCCTV](
	[id_cctv] [nvarchar](10) NOT NULL,
	[nama_cctv] [nvarchar](100) NULL,
	[harga] [int] NULL,
	[jumlah] [int] NULL,
 CONSTRAINT [PK_tblCCTV] PRIMARY KEY CLUSTERED 
(
	[id_cctv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblJenisKamera]    Script Date: 6/10/2021 10:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblJenisKamera](
	[id_Jenis] [nvarchar](10) NOT NULL,
	[nama_jenis] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblJenisKamera] PRIMARY KEY CLUSTERED 
(
	[id_Jenis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKamera]    Script Date: 6/10/2021 10:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKamera](
	[id_kamera] [nvarchar](10) NOT NULL,
	[nama_kamera] [nvarchar](100) NULL,
	[Id_Merk] [nvarchar](10) NOT NULL,
	[id_Jenis] [nvarchar](10) NOT NULL,
	[jumlah] [int] NULL,
	[harga] [int] NULL,
 CONSTRAINT [PK_tblKamera] PRIMARY KEY CLUSTERED 
(
	[id_kamera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMerkKamera]    Script Date: 6/10/2021 10:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMerkKamera](
	[Id_Merk] [nvarchar](10) NOT NULL,
	[nama_Merk] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblMerkKamera] PRIMARY KEY CLUSTERED 
(
	[Id_Merk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 6/10/2021 10:01:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[id_user] [nvarchar](10) NOT NULL,
	[nama_user] [nvarchar](100) NULL,
	[jeniskelamin] [nvarchar](50) NULL,
	[alamat] [nvarchar](500) NULL,
	[ttl] [date] NULL,
	[jabatan] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccKamera]  WITH CHECK ADD  CONSTRAINT [FK_Kategori] FOREIGN KEY([id_kategori])
REFERENCES [dbo].[tbKategoriAcc] ([id_kategori])
GO
ALTER TABLE [dbo].[AccKamera] CHECK CONSTRAINT [FK_Kategori]
GO
ALTER TABLE [dbo].[tblKamera]  WITH CHECK ADD  CONSTRAINT [FK_tblJenis_tblKamera] FOREIGN KEY([id_Jenis])
REFERENCES [dbo].[tblJenisKamera] ([id_Jenis])
GO
ALTER TABLE [dbo].[tblKamera] CHECK CONSTRAINT [FK_tblJenis_tblKamera]
GO
ALTER TABLE [dbo].[tblKamera]  WITH CHECK ADD  CONSTRAINT [FK_tblMerk_Kamera] FOREIGN KEY([Id_Merk])
REFERENCES [dbo].[tblMerkKamera] ([Id_Merk])
GO
ALTER TABLE [dbo].[tblKamera] CHECK CONSTRAINT [FK_tblMerk_Kamera]
GO
USE [master]
GO
